/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

/*
 * Base structure
 */

html,
body {
  height: 100%;
}

body {
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;

  color: #fff;

  font-family: HopeSans, sans-serif;

  /*background: url(/img/bg.jpg) no-repeat top center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;*/
}


/*
 * Header
 */
.header-containter {
  position: absolute;
  padding: 2rem 3rem;
}

.masthead {
  margin-bottom: 2rem;
}

svg.masthead-brand {
  margin-bottom: 0;
  margin-left: 0;
  width: 85px;
  fill: #fff;
}

@media (min-width: 576px) {
  svg.masthead-brand {
      width: 150px;
  }
}

@media (min-width: 992px) {
  svg.masthead-brand {
    width: 200px;
  }
}

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  color: rgba(255, 255, 255, .5);
  background-color: transparent;
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

nav .logo-sng {
  width: 25px;
}
@media (min-width: 768px) {
  nav .logo-sng {
    width: 35px;
  }
}

.masthead-brand {
  float: left;
}
.nav-masthead {
  float: right;
}

/*
 * Full-width bg split
 */

.fullwidth-container {
  position: absolute;
  width: 100%;
  display: flex;
  z-index: -1;
  height: 50vh;
  margin-top: 5vh;
}

@media (min-width: 576px) {
  .fullwidth-container {
    height: 60vh;
  }
}

@media (min-width: 768px) {
  .fullwidth-container {
    height: 70vh;
  }
}

@media (min-width: 992px) {
  .fullwidth-container {
    /*height: 80vh;*/
    height: 100%;
  }
}

@media (min-width: 1200px) {
  .fullwidth-container {
    /*height: 100vh;*/
    height: 100%;
    margin-top: 0;
  }
}

.fullwidth-container .half {
  flex: 1;
  background-size: cover;
}

.fullwidth-container .spacer {
  width: 10%;
}

.fullwidth-container .left {
  background-image: url('/img/bg-filla.jpg?v=3');
  transform: translateY(3rem);
}

.fullwidth-container .right {
  background-image: url('/img/bg-fulla.jpg?v=3');
}


/*
 * Cover
 */

.cover-container main {
  max-width: 38rem;
}
.cover-heading {
  font-size: 1.0rem;
  text-align: left;
  margin-left: 93px;
  margin-right: 15px;
}
.cover-heading svg { width: 1.0rem; fill: #fff; }
@media (min-width: 576px) {
  .cover-heading {
    font-size: 1.75rem;
    text-align: center;
    margin: auto;
    max-width: 570px;
  }
  .cover-heading svg { width: 1.75rem; }
}
@media (min-width: 768px) {
  .cover-heading {
    /*font-size: 1.75rem;*/
  }
}
@media (min-width: 992px) {
  .cover-heading {
    max-width: 100%;
    font-size: 2rem;
  }
  .cover-heading svg { width: 2rem; }
}

/*
 * Cross Logo Made in Slovakia
 */

.cross-logo {
  height: 16rem;
  font-size: 1.25rem;
  margin-top: 3rem;
  margin-bottom: 1rem;

}
@media (min-width: 576px) {
  .cross-logo {
    margin-top: 3rem;
    margin-bottom: 3rem;
    font-size: 1.4rem;
  }
}
.cross-logo span {
  position: absolute;
  white-space: nowrap;
}
.cross-logo span.rotate-cw {
  transform: translateX(-50%) translateY(8rem) rotate(45deg);
}
.cross-logo span.rotate-ccw {
  transform: translateX(-50%) translateY(8rem) rotate(-45deg);
}

.cta {
  font-size: 2rem;
  font-weight: bold;
}
.cta a {
  border-bottom: 5px solid rgba(253,211,197, 0.0);

}

.cta a:hover {
  text-decoration: none;
  border-bottom: 5px solid rgba(253,211,197, 1.0);
}

/*.share-container p {
  font-weight: bold;
}*/

.share-container .social-links i {
  margin: 0 10px;
  display: inline-block;
}


/*
 * Footer
 */


/*
 * Atomic Utilities
 */

.bg-black {
  background-color: #0a0a0a;
}

.text-shadow {
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
}

.footer-links a, .about a {
  margin-right: 10px;
  border-bottom: 2px solid rgba(253,211,197, 0.3);
  margin-bottom: 10px;
}

.footer-links a:hover, .about a:hover {
  text-decoration: none;
  border-bottom: 2px solid rgba(253,211,197, 1.0);
}


/* CTA animation*/

.arrow1 {
  animation: slide1 1s ease-in-out infinite;
  margin-right: 10px;
  color: #fff;
}

.arrow2 {
  animation: slide2 1s ease-in-out infinite;
  margin-left: 10px;
  color: #fff;
}

@keyframes slide1 {
  0%,
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }

  50% {
    transform: translate(10px, 0);
    opacity: 1;
  }
}

@keyframes slide2 {
  0%,
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }

  50% {
    transform: translate(-10px, 0);
    opacity: 1;
  }
}

/*==========================================================================
ABOUT
========================================================================== */

.about {
  background-color: #222;
  padding: 30px 50px;
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
}

.about h3 {
  margin: 3rem auto 1.5rem;
}

.about p {
  color: #ccc;
}

.about-head {
  margin: 100px auto 30px;
}

.about-head h2 {
  font-size: 1.2rem;
}
.about-head h1 {
  font-size: 3.5rem;
}
/*==========================================================================
PRELOADER
========================================================================== */
.preloader {position: fixed;width: 100%;z-index: 99999999999999;background-color: #000;height: 100%; }
.intro-type1{position: fixed;top: 50%; left: 50%; text-align:center; margin-top: -15px;margin-left: -15px; height:30px; width:30px;}

.animated {
  animation: pulsate 1s ease-out;
  animation-iteration-count: infinite;
  opacity: 0.0;
}

@-webkit-keyframes pulsate {
    0% {-webkit-transform: scale(0.1, 0.1); opacity: 0.0;}
    50% {opacity: 1.0;}
    100% {-webkit-transform: scale(1.2, 1.2); opacity: 0.0;}
}

