/*
 * This file contains style rules specific to the Filla Fulla Story, 
 * rather than generic to the Trialogue Story Format
 */

/* Passage Avatars */
.chat-passage-wrapper.speaker-user:after {
  content: url(../img/avatar-user.png);
  vertical-align: top;
}
.chat-passage-wrapper.speaker-filla:before {
  content: url(../img/avatar-filla.png);
  vertical-align: top;
}
.chat-passage-wrapper.speaker-fulla:before {
  content: url(../img/avatar-fulla.png);
  vertical-align: top;
}

/* Speaker Name Colors & Alignment */
.chat-passage.speaker-user:before {
  color: green;
  text-align: right;
}
.chat-passage.speaker-filla:before {
  color: blue;
}
.chat-passage.speaker-fulla:before {
  color: red;
}